<template>
  <div class="auth-panel">
    <div class="user" v-for="user in ['Roman', 'Vovka', 'Kolya']"
         :class="{active: activeUser === user}"
         @click="authUser(user), activeUser = user">{{ user }}</div>

    <div class="auth-panel__clear" @click="clearChat">Очистить</div>
  </div>
</template>

<script>
import { ref, inject } from 'vue'
import {useFetch} from "@/use/fetch";
import {scrollToDown} from "@/utils/scrollToDown";

export default {
  name: 'Auth',
  setup() {
    const activeUser = ref(null);
    const getChat = inject('getChat');
    const $user = inject('$user');

    const clearChat = async () => {
      const {request} = await useFetch('http://localhost:7777/api/chat', {method: 'delete'})
      await request();
      await getChat();
    }

    const authUser = user => {
      $user.value = user;
      scrollToDown('chatWindow');
    }

    return {authUser, activeUser, clearChat}
  }
}
</script>

<style lang="scss" scoped>
.auth-panel{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;

  .user{
    padding: 4px;
    background-color: #4F4F4F;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 5px;
    opacity: .5;

    &.active{
      opacity: 1;
    }
  }

  &__clear{
    margin-left: 50px;
    cursor: pointer;
  }
}
</style>