<template>
  <div class="chat__typing" v-if="msgTyping">{{ msgTyping }}</div>
</template>

<script>
import { ref, inject, onMounted } from 'vue'

export default {
  name: 'ChatWindowTyping',
  setup() {
    const $socket = inject('$socket');
    const msgTyping  = ref('')

    onMounted(() => {
      $socket.on('noticeTyping', res => {
        msgTyping.value = res
      })

      $socket.on('noticeClearType', () => {
        msgTyping.value = ''
      })
    });

    return { msgTyping }
  }
}
</script>

<style lang="scss" scoped>
@keyframes pulse {
  100%{
    opacity: .3;
  }
}

.chat__typing{
  position: sticky;
  bottom: 0;
  margin-top: 20px;
  background: #fff;
  padding: 3px;
  font-size: 13px;
  opacity: .8;
  animation: pulse 1s infinite alternate;
}
</style>