<template>
  <div class="chat__msg" :class="{'chat__msg_my': isMine}">{{msg.msg}}</div>
</template>

<script>
export default {
  name: 'ChatWindowMsg',
  props: ['msg', 'isMine'],
}
</script>

<style lang="scss" scoped>
.chat__msg{
  background-color: #ebebeb;
  padding: 7px;
  border-radius: 4px;
  overflow: hidden;
  max-width: 90%;
  width: fit-content;
  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0;
  }

  &_my{
    background-color: #fede;
    justify-self: end;
  }
}
</style>