<template>
  <div class="chat" v-if="$user">
    <ChatWindow />
    <ChatForm />
  </div>
</template>

<script>
import { inject } from 'vue';

import ChatWindow from "@/components/ChatWindow";
import ChatForm from "@/components/ChatForm";

export default {
  name: 'Chat',
  components: {
    ChatWindow, ChatForm
  },
  setup() {
    const $user = inject('$user');
    return {$user}
  }
}
</script>

<style lang="scss" scoped>
.chat{
  margin: 30px 0;
}
</style>