<template>
  <form class="chat__form" @submit.prevent="sendMsg">
    <textarea class="chat__textarea"
              placeholder="Пиши сообщение"
              @keypress="typing"
              v-model="msg"></textarea>
    <button type="submit" class="chat__submit">Send</button>
  </form>
</template>

<script>
import {ref, inject} from 'vue';
import {useFetch} from "@/use/fetch";
import {debounce} from "@/utils/debounce";

export default {
  name: 'ChatForm',
  setup () {
    // ref используем для простых типов: string, number, boolean, null, undefined
    // reactive используем для объектов и массивов
    // Переменный можем объявлять через const даже которые будут меняться, потому что все равно возвращается объект со свойством .value, сам const мы получается не меняем

    const msg = ref('');
    const $user = inject('$user');
    const $socket = inject('$socket');

    const sendMsg = async () => {
      const {response, request} = await useFetch('http://localhost:7777/api/chat', {
        method: 'post',
        headers: new Headers({ "Content-Type": "application/json" }),
        body: JSON.stringify({ msg: msg.value, user: $user.value })
      })

      await request();
      
      if(response.value.success){
        msg.value = '';
      }
    }

    const clearTyping = debounce(1000)(() => {
      $socket.emit('clearType')
    });

    const typing = () => {
      $socket.emit('typing', $user.value)
      clearTyping();
    }

    return {msg, sendMsg, typing}
  }
}
</script>

<style lang="scss" scoped>
.chat__form{
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-column-gap: 20px;
  align-items: center;

  .chat__textarea{
    padding: 5px;
    height: 50px;
  }
}
</style>