<template>
  <div class="chat__window" id="chatWindow">
    <div class="chat__dialog" v-if="$messages.length">
      <ChatWindowMsg v-for="msg in $messages" :msg="msg" :isMine="$user === msg.user" />
    </div>
    <div class="chat__empty" v-else>Чат пуст. Напиши чего нибудь...</div>

    <transition name="show">
      <ChatWindowNotice />
    </transition>

    <ChatWindowTyping />
  </div>
</template>

<script>
import { inject } from 'vue'

import ChatMsg from "@/components/ChatWindowMsg";
import ChatWindowNotice from "@/components/ChatWindowNotice";
import ChatWindowMsg from "@/components/ChatWindowMsg";
import ChatWindowTyping from "@/components/ChatWindowTyping";

export default {
  name: 'ChatWindow',
  components: {ChatWindowTyping, ChatWindowMsg, ChatMsg, ChatWindowNotice},
  setup() {
    const $user = inject('$user')
    const $messages = inject('$messages')

    return {$messages, $user}
  }
}
</script>

<style lang="scss" scoped>
.chat__window{
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  height: 600px;
  overflow-y: auto;
  position: relative;

  &:after {
    content: "";
    display: block;
    height: 15px;
    width: 100%;
  }

  .chat__dialog{
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
  }
  .chat__empty{
    margin: 30px;
    color: #4F4F4F;
    text-align: center;
  }
}
</style>