<template>
  <div class="notice" v-if="message">
    {{message}}
  </div>
</template>

<script>
import {inject, ref, watch} from 'vue'

export default {
  name: 'ChatWindowNotice',
  inject: ['$socket'],
  setup() {
    const $socket = inject('$socket');
    const message = ref('');

    $socket.on('connectNewUser', msg => message.value = msg);
    
    watch(message, newMessage => {
      setTimeout(() => {
        message.value = null
      }, 3000)
    })

    return {message}
  }
}
</script>

<style lang="scss" scoped>

.notice{
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 3px;
  background-color: #4F4F4F;
  padding: 5px;
  color: #fff;
}
</style>