<template>
  <div class="container">
    <Auth />
    <Chat />
  </div>
</template>

<script>
import { provide, ref, onMounted } from 'vue'
import { io } from 'socket.io-client';

import Chat from "@/components/Chat";
import Auth from "@/components/Auth";
import {useFetch} from "@/use/fetch";
import {scrollToDown} from "@/utils/scrollToDown";

export default {
  name: 'App',
  components: {
    Auth,
    Chat
  },
  setup() {
    const $user = ref(null);
    const $messages = ref([]);
    const $socket = io.connect('http://localhost:7777')

    const getChat = async () => {
      const {response, request} = await useFetch('http://localhost:7777/api/chat')
      await request();
      
      $messages.value = response.value.data;
    }

    const getMsg = async () => {
      await getChat();
      scrollToDown('chatWindow');
    }

    provide('$socket', $socket);
    provide('$user', $user);
    provide('$messages', $messages);
    provide('getChat', getChat)

    onMounted(async () => {
      $socket.on('connect', () => $socket.emit('join'));
      $socket.on('newMsg', getMsg);

      await getMsg();
    });
  },
}
</script>

<style lang="scss">

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

// ANIMATION
// show
.show-enter-active,
.show-leave-active {
  transition: all 0.5s ease;
}

.show-enter-from, .show-leave-to {
  opacity: 0;
}
.show-enter-from{
  transform: translateY(-5px);
}
.show-leave-to{
  transform: translateY(7px);
}

</style>
